name: test

on:
  pull_request:
    paths:
      - '**Dockerfile'

jobs:
  push:
    name: "Build ${{ matrix.image }}"

    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        image: [ 'alpine-wait-for-it', 'php-8.5-alpine-composer' ]
        include:
          - image: php-8.4-alpine-composer
            target: base

    steps:
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build ${{ matrix.image }}
        if: matrix.target == ''
        uses: docker/build-push-action@v6
        with:
          context: "{{defaultContext}}:${{ matrix.image }}"
          push: false
          tags: ghcr.io/alexislefebvre/${{ matrix.image }}

      - name: Build ${{ matrix.image }} with target ${{ matrix.target }}
        if: matrix.target != ''
        uses: docker/build-push-action@v6
        with:
          context: "{{defaultContext}}:${{ matrix.image }}"
          target: ${{ matrix.target }}
          push: false
          tags: ghcr.io/alexislefebvre/${{ matrix.image }}

      - name: Build ${{ matrix.image }} without target
        if: matrix.target != ''
        uses: docker/build-push-action@v6
        with:
          context: "{{defaultContext}}:${{ matrix.image }}"
          push: false
          tags: ghcr.io/alexislefebvre/${{ matrix.image }}-mariadb-wiremock
